.hero {
    color: orange;
    font-weight: bolder;
    background-color: aquamarine;
    display: block;
    margin: auto;
    border: 20px solid crimson;
    padding: 20px;
    display: border-box;
    width: 500px;
    height: 500px;
 
    
}

.single {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}